<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Thuc Pham Sach">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thuc Pham Sach</title>
    
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style1.css" type="text/css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  -->

</head>
<body>
    <header>
        <div >
            <div>
                <div id="header-big">
                    <div class="top">
                        <div class="header-top container">
                            <div class="header-top-left col-8 ">
                                <div class="header-email">
                                    <i class="fa fa-envelope icon" aria-hidden="true"></i>
                                    Organi@gmail.com | Chất lượng vượt niềm tin
                                </div>
                            </div>
                            <div class="header-top-right col-4 container">
                                <i class="fa fa-facebook-square icon" aria-hidden="true"></i>
                                |
                                <i class="fa fa-user icon" aria-hidden="true"></i>
                                <button type="button" class="btn">ĐĂNG NHẬP</button>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="header-down container">
                        <div class="logo col-2">
                            <a href="index.html"><img src="/images/logo.png"></a>
                        </div>
    
                        <nav class="navbar navbar-expand-sm col-8 menue">
    
                            <!-- Links -->
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">TRANG CHỦ</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">SẢN PHẨM</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">BLOG</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">LIÊN HỆ</a>
                                </li>
    
    
                            </ul>
    
                        </nav>
                        <div class="giohang col-2">
                            <div class="btn btn-success gio">
                                <a><i class="fa fa-shopping-cart " aria-hidden="true"></i><span id="so_luong_sp"
                                        class="badge"></span></a>
                            </div>
                        </div>
    
                    </div>
    
    
    
                </div>
            </div>
    
            <div class="header-search container">
    
                <div class="col-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <!-- <i class="fa fa-bars"></i> -->
                            <span>DANH MỤC HÀNG</span>
                        </div>
                        <ul>
                            <li><a href="#">TRÁI CÂY</a></li>
                            <li><a href="#">RAU CỦ</a></li>
                            <li><a href="#">THỊT & TRỨNG</a></li>
                            <li><a href="#">THỦY HẢI SẢN</a></li>
                            <li><a href="#">HẠT KHÔ</a></li>
                            <li><a href="#">NGŨ CỐC</a></li>
                            <li><a href="#">SẢN PHẨM KHÁC</a></li>
    
                        </ul>
                    </div>
                </div>
    
                <div class="col-9">
                    <div class="phone-search">
                        <div class="input-group col-8" style="width:400px;">
                            <input type="search" class="form-control rounded" placeholder="Tìm kiếm ..." aria-label="Search"
                                aria-describedby="search-addon" />
                            <button type="button" class="btn btn-outline-primary nut-search">Tìm</button>
                        </div>
                        <div class="phone col-4">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                            <span>+84 965 324 999</span>
                        </div>
                    </div>
                    <div class="banner">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="/images/banner_1.jpg" alt="First slide"
                                        style="height: 250px;">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/images/banner_6.jpg" alt="Second slide"
                                        style="height: 250px;">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="/images/banner_3.jpg" alt="Third slide"
                                        style="height: 250px;">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
    
    
                </div>
    
    
            </div>
    
        </div>
    
    
    </header>

    <hr class="dongke container">

    <div class="container">
        <div class="sanpham">
            <div class="list-product">
                <div class="product">
                    <div class="image">
                        <img src="/images/nho xanh.jpg" style="width:160px; height:180px;">
                    </div>
                    <div class="xem-mua">
                        <div class="xem col-6">
                            <a href="">
                                <i class="fa fa-eye view" aria-hidden="true"></i>
                                <div class="xem-text">Chi tiết</div>
                            </a>
        
                        </div>
                        <div class="mua col-6">
                            <a href="">
                                <i class="fa fa-shopping-basket cart" aria-hidden="true"></i>
                                <div class="mua-text">Cho vào giỏ</div>
                            </a>
                        </div>
                    </div>
                    <div class="ten-gia">
                        <div class="name">Nho xanh</div>
                        <div class="price">
                            <span>100 000 đ </span>
                            <span>/kg</span>
                        </div>
                    </div>
                </div>
        
        
        
                <div class="product">
                    <div class="image">
                        <img src="/images/nho xanh.jpg" style="width:160px; height:180px;">
                    </div>
                    <div class="xem-mua">
                        <div class="xem col-6">
                            <a href="">
                                <i class="fa fa-eye view" aria-hidden="true"></i>
                                <div class="xem-text">Chi tiết</div>
                            </a>
        
                        </div>
                        <div class="mua col-6">
                            <a href="">
                                <i class="fa fa-shopping-basket cart" aria-hidden="true"></i>
                                <div class="mua-text">Cho vào giỏ</div>
                            </a>
                        </div>
                    </div>
                    <div class="ten-gia">
                        <div class="name">Nho xanh</div>
                        <div class="price">
                            <span>100 000 đ </span>
                            <span>/kg</span>
                        </div>
                    </div>
                </div>
                <div class="product">
                    <div class="image">
                        <img src="/images/nho xanh.jpg" style="width:160px; height:180px;">
                    </div>
                    <div class="xem-mua">
                        <div class="xem col-6">
                            <a href="">
                                <i class="fa fa-eye view" aria-hidden="true"></i>
                                <div class="xem-text">Chi tiết</div>
                            </a>
        
                        </div>
                        <div class="mua col-6">
                            <a href="">
                                <i class="fa fa-shopping-basket cart" aria-hidden="true"></i>
                                <div class="mua-text">Cho vào giỏ</div>
                            </a>
                        </div>
                    </div>
                    <div class="ten-gia">
                        <div class="name">Nho xanh</div>
                        <div class="price">100 000 đ</div>
                    </div>
                </div>
                <div class="product">
                    <div class="image">
                        <img src="/images/nho xanh.jpg" style="width:160px; height:180px;">
                    </div>
                    <div class="xem-mua">
                        <div class="xem col-6">
                            <a href="">
                                <i class="fa fa-eye view" aria-hidden="true"></i>
                                <div class="xem-text">Chi tiết</div>
                            </a>
        
                        </div>
                        <div class="mua col-6">
                            <a href="">
                                <i class="fa fa-shopping-basket cart" aria-hidden="true"></i>
                                <div class="mua-text">Cho vào giỏ</div>
                            </a>
                        </div>
                    </div>
                    <div class="ten-gia">
                        <div class="name">Nho xanh</div>
                        <div class="price">100 000 đ</div>
                    </div>
                </div>
                <div class="product">
                    <div class="image">
                        <img src="/images/nho xanh.jpg" style="width:160px; height:180px;">
                    </div>
                    <div class="xem-mua">
                        <div class="xem col-6">
                            <a href="">
                                <i class="fa fa-eye view" aria-hidden="true"></i>
                                <div class="xem-text">Chi tiết</div>
                            </a>
        
                        </div>
                        <div class="mua col-6">
                            <a href="">
                                <i class="fa fa-shopping-basket cart" aria-hidden="true"></i>
                                <div class="mua-text">Cho vào giỏ</div>
                            </a>
                        </div>
                    </div>
                    <div class="ten-gia">
                        <div class="name">Nho xanh</div>
                        <div class="price">100 000 đ</div>
                    </div>
                </div>
                <div class="product">
                    <div class="image">
                        <img src="/images/nho xanh.jpg" style="width:160px; height:180px;">
                    </div>
                    <div class="xem-mua">
                        <div class="xem col-6">
                            <a href="">
                                <i class="fa fa-eye view" aria-hidden="true"></i>
                                <div class="xem-text">Chi tiết</div>
                            </a>
        
                        </div>
                        <div class="mua col-6">
                            <a href="">
                                <i class="fa fa-shopping-basket cart" aria-hidden="true"></i>
                                <div class="mua-text">Cho vào giỏ</div>
                            </a>
                        </div>
                    </div>
                    <div class="ten-gia">
                        <div class="name">Nho xanh</div>
                        <div class="price">100 000 đ</div>
                    </div>
                </div>
                <div class="product">
                    <div class="image">
                        <img src="/images/nho xanh.jpg" style="width:160px; height:180px;">
                    </div>
                    <div class="xem-mua">
                        <div class="xem col-6">
                            <a href="">
                                <i class="fa fa-eye view" aria-hidden="true"></i>
                                <div class="xem-text">Chi tiết</div>
                            </a>
        
                        </div>
                        <div class="mua col-6">
                            <a href="">
                                <i class="fa fa-shopping-basket cart" aria-hidden="true"></i>
                                <div class="mua-text">Cho vào giỏ</div>
                            </a>
                        </div>
                    </div>
                    <div class="ten-gia">
                        <div class="name">Nho xanh</div>
                        <div class="price">100 000 đ</div>
                    </div>
                </div>
                <div class="product">
                    <div class="image">
                        <img src="/images/nho xanh.jpg" style="width:160px; height:180px;">
                    </div>
                    <div class="xem-mua">
                        <div class="xem col-6">
                            <a href="">
                                <i class="fa fa-eye view" aria-hidden="true"></i>
                                <div class="xem-text">Chi tiết</div>
                            </a>
        
                        </div>
                        <div class="mua col-6">
                            <a href="">
                                <i class="fa fa-shopping-basket cart" aria-hidden="true"></i>
                                <div class="mua-text">Cho vào giỏ</div>
                            </a>
                        </div>
                    </div>
                    <div class="ten-gia">
                        <div class="name">Nho xanh</div>
                        <div class="price">100 000 đ</div>
                    </div>
                </div>
        
            </div>
        
        
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <hr class="dongke container">
    <footer class="container">
        <div class="footer">
            <div class="col-4 info">
                <div class="logo-footer">
                    <a href="index.html"><img src="/images/logo.png"></a>
                    <h6>THỰC PHẨM SẠCH </h6>
                </div>
    
                <ul class="info-footer">
                    <li>Địa chỉ: Lê Thanh Nghị, Hai Bà Trưng, Hà Nội</li>
                    <li>Số điện thoại: +84 965 324 999</li>
                    <li>Email: ogani@gmail.com</li>
                </ul>
            </div>
    
            <div class="support col-4">
                <h3>HỖ TRỢ TƯ VẤN</h3>
                <ul>
                    <li><a class="suport-text" href="">Hướng dẫn mua hàng</a></li>
                    <li><a class="suport-text" href="">Hướng dẫn đăng ký</a></li>
                    <li><a class="suport-text" href="">Khôi phục mật khẩu</a></li>
                    <li><a class="suport-text" href="">Góp ý</a></li>
                </ul>
            </div>
            <div class="map col-4">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7752193268807!2d105.84214465060852!3d21.001645685944485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac712fb97f1d%3A0x497d8c39347e38f0!2zOTMgUC4gTMOqIFRoYW5oIE5naOG7iywgxJDhu5NuZyBUw6JtLCBIYWkgQsOgIFRyxrBuZywgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1642350254456!5m2!1svi!2s"
                    width="330" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    
    </footer>
    <hr class="kedai">
    <div class="coppy container">
        <span>Copyright 2021<i class="fa fa-copyright" aria-hidden="true"></i>Thucphamsach.com</span>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main1.js"></script>
</body>
</html>